<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 top-bar">
      <div id="top-bar" class="top-bar"></div>
    </div>
    <div class="mainContent">
      <h1>Arzttermine - Amirault</h1>
      <div class="col-md-8">
        <div class="jumbotron jumbotron-search">
          <div class="form-group">
              <div class="searchRow">
                <select id="medicalSpecialty" class="form-control ">
                  <option value="">Please choose</option>
                  <option value="1" selected="selected">Dentist</option>
                  <option value="2">Acupuncturist</option>
                  <option value="3">Allergist</option>
                  <option value="4">General practitioner / physician</option>
                </select>
              </div>

              <div class="searchRow">
                <div class="col-md-8 secondRow">
                  <input id="cityCountry" type="text" value="Berlin" class="form-control">
                </div>
                <div class="col-md-4 secondRow" id="distanceDiv">
                  <select id="distance" class="form-control">
                    <option value="5">5km></option>
                    <option value="10">10km</option>
                    <option value="50" selected="">50km</option>
                  </select>
                </div>
              </div>

            </div>
            <div class="form-group">
              <label>Insurance Type</label>
              <div id="insuranceRadioContainer">
                <div class="radio">
                  <label><input type="radio" name="insurance" checked="checked">Public</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="insurance">Private</label>
                </div>
              </div>
            </div>
          <button type="button" class="btn btn-primary btn-md">Search</button>
        </div>

        <doctor-detail [doctors]="doctors"></doctor-detail>
      </div>

      <div class="col-md-4 mapStyle">
        <img src="https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap
  &markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318
  &markers=color:red%7Clabel:C%7C40.718217,-73.998284
  &key=AIzaSyBGRDwiiCyJGq9nMrrqz9uXXRTCdeVDrug" alt="Map">
      </div>
    </div>
  </div>
</div>

<footer></footer>
